/* @import './base.css'; */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

p, a, span {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noticia Text', serif;
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  flex-wrap: wrap;
}